        .info {
            /* padding: 0; */
            /* height: 100%;
            display: grid;
            grid-template-rows: 25% 15% 25% 25% 10%;
            grid-template-rows: 200px 70px auto; */
        }
        /* .videoLayout {
            margin-top: 7vh;
        } */
        
        .name1 {
            color: #2250b4;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
            background-color: #F0F4FF;
            padding: 25px 40px;
            padding-top: 30px;
            padding-bottom: 20px;
            position: relative;
            top: -6px;
            /* margin: auto; */
        }
        
        .infoPageHeader {
            display: grid;
            grid-template-columns: 3fr 1fr;
            background-color: #2250b4;
        }
        
        .multiInfoPresent {
            padding: 10px 40px;
            padding-bottom: 25px;
            overflow: scroll;
            font-size: 20px;
            background-color: #F0F4FF;
            position: absolute;
            bottom: 70px;
            left: 0;
            right: 0;
            top: 400px;
            /* height: 100vh; */
        }
        
        @media(max-width:400px) {
            .name1 {
                color: #2250b4;
                font-size: 18px;
                font-weight: bold;
            }
            .multiInfoPresent {
                /* /* display: block; */
                /* height: 100%; */
                padding: 10px 40px;
                padding-bottom: 25px;
                overflow: scroll;
                font-size: 17px;
                background-color: #F0F4FF;
                position: absolute;
                bottom: 50px;
                left: 0;
                right: 0;
                top: 400px;
                /* padding-bottom: 90px; */
            }
        }