    .info {
        padding: 0;
        /* display: grid;
        grid-template-rows: 25% 15% 25% 25% 10%; */
    }
    
    .videoLayout {
        margin-top: 7vh;
    }
    
    .name1 {
        color: #1D4AD8;
        font-size: 20px;
        font-weight: bold;
        padding: 0 20px;
        padding-top: 40px;
        height: 7vh;
    }
    
    .infoPageReturn {
        border: none;
        background-color: #F0F4FF;
        width: 30%;
        position: fixed;
        bottom: 0;
        right: 0;
        height: 7vh;
        color: #1D4AD8;
        z-index: 50;
    }
    
    @media(max-width:360px) {
        .name1 {
            color: #1D4AD8;
            font-size: 20px;
            font-weight: bold;
            padding: 0 20px;
            padding-top: 30px;
        }
    }