.DrawerToggle {
    width: 30px;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.topLine,
.centerLine,
.bottomLine {
    width: 90%;
    height: 3px;
    background-color: #1D4AD8;
    transition: all .5s ease-in-out;
}

.topLine_open {
    transform: rotate(45deg) translate(6px, 6px);
}

.centerLine_open {
    transform: translateX(-50px);
    background-color: transparent;
}

.bottomLine_open {
    transform: rotate(-45deg) translate(4px, -4px);
}

@media (min-width: 500px) {
    .DrawerToggle,
    .hamburger {
        display: none;
    }
}

.hamburger {
    height: 20px;
    position: relative;
    left: 80%;
}