.Remedy {
    display: flex;
    flex-flow: row;
    margin: 0 20px;
    align-items: center;
    border-bottom: .5px solid;
}

.Remedy:last-child {
    border-bottom: 0px;
}

.RemedyName {
    margin: 15px 15px;
    min-width: 30%;
    text-align: center;
}

.RemedyInfo {
    max-width: 60%;
    margin-top: 10px;
}

h2 {
    font-size: 16px;
    color: #1D4AD8;
}