.Remedy {
    display: flex;
    flex-flow: row;
    margin: 0 20px;
    align-items: center;
    border-bottom: .5px solid;
}

.RemedyName {
    margin: 15px;
    min-width: 30%;
    text-align: center;
}

.RemedyInfo {
    max-width: 60%;
    margin-top: 10px;
}