.remedy_options {
    margin: 0px;
    padding: 0;
    position: fixed;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    /* height: 100%; */
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 8px 2px #b6adad;
    width: 100%;
}

.remedy_name {
    width: 150%;
}

.returnButton {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: blue;
    color: white;
    padding-bottom: 20px;
}

.remedy_compare {
    background-color: rgb(188, 217, 255);
    padding-bottom: 40px;
}

.remedy_info {
    padding-top: 40px;
}

.remedyFeatureButton {
    color: rgb(26, 103, 165);
    width: 100%;
    outline: none;
    background-color: white;
    border: none;
    text-align: center;
    padding: 15px 5px;
}

.remedyFeatureButton:active,
.remedyFeatureButton:hover {
    background-color: rgb(188, 217, 255);
    outline: none;
    color: rgb(19, 34, 177);
    /* z-index: 80; */
    /* padding-bottom: 20px; */
    /* box-shadow: 0px 0px 8px 2px #b6adad; */
}