.infoarrange {
    display: block;
    position: absolute;
    /* grid-template-rows: repeat(4, 1fr); */
    /* grid-template-columns: repeat(3, 1fr); */
    bottom: 5%;
}

.basicInfo {
    padding: 18px;
    height: 36vh;
    overflow: auto;
    margin: 15px 0;
    background-color: white;
    font-size: 20px;
    z-index: 10;
    position: fixed;
    bottom: 15vh;
}

@media(max-width:360px) {
    .basicInfo {
        padding: 15px;
        height: 32vh;
        overflow: auto;
        margin: 0;
        bottom: 18vh;
    }
}