.structure {
    background-color: #F0F4FF;
    padding: 20px;
    height: 37vh;
    width: 100%;
    font-size: 18px;
    overflow: auto;
    margin: 0px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    z-index: 30;
    position: fixed;
    bottom: 16vh;
    transition: transform .3s ease-out;
}

.inner-structure {
    background-color: #F0F4FF;
    /* padding: 20px; */
    height: 32vh;
    overflow: auto;
    margin: 0px;
    z-index: 30;
    width: 90%;
    bottom: 16vh;
}

@media(max-width:360px) {
    .structure {
        padding: 20px;
        bottom: 16vh;
        height: 30vh;
    }
    .inner-structure {
        height: 24vh;
    }
}

.showTab {
    transform: translateY(0)
}

.closeTab {
    transform: translateY(130%)
}

.closeIcon {
    height: 20px;
    padding-bottom: 10px;
}