.content {
    background-color: white;
}

.remdeyUse {
    padding-top: 20px;
}

.remedyUserHeader {
    margin-top: 30px;
    padding: 20px 50px;
}

.remedyUserText {
    padding: 20px 40px;
    padding-bottom: 80px;
    color: black;
}