.navItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.item {
    box-sizing: border-box;
    /* display: block; */
    width: 90%;
    background-color: #1D4AD8;
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    box-shadow: 0px 0px 8px 2px #0938d3;
    border-radius: 40px;
    color: white;
}

.item a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-left: 30px;
    /* padding: 15px 20px;
    padding-top: 25px; */
    background-color: transparent;
    color: white;
    text-align: right;
}

.item a:hover,
.item a:active,
.item a.active {
    color: white;
}

.sideDrawerIcon {
    height: 25px;
    padding: 0 5px;
    padding-left: 20px;
}

@media(max-width:360px) {
    .item {
        font-size: 16px;
    }
}

@media(min-width:500px) {
    .navItems {
        flex-flow: row;
    }
    .item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .item a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 3px solid transparent;
    }
    .item a:hover,
    .item a:active,
    .item a.active {
        background-color: rgb(161, 100, 24);
        border-bottom: 3px solid blueviolet;
        color: white;
    }
}