.navItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    text-align: center;
    margin-top: 50px;
    overflow: auto;
}

.item {
    box-sizing: border-box;
    /* display: block; */
    width: 90%;
    background-color: #1D4AD8;
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    box-shadow: 0px 0px 8px 2px #0938d3;
    border-radius: 40px;
    color: white;
}

.item a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    /* padding-left: 30px; */
    /* padding: 15px 20px;
    padding-top: 25px; */
    background-color: transparent;
    color: white;
    text-align: right;
}

.item a:hover,
.item a:active,
.item a.active {
    color: white;
}

.sideDrawerIcon {
    height: 25px;
    padding: 0 5px;
    padding-left: 20px;
}

@media(max-width:360px) {
    .item {
        font-size: 14px;
    }
    .navItems {
        margin-top: 50px;
        overflow: auto;
    }
}

@media(min-width:500px) {
    .navItems {
        flex-flow: row;
        margin-top: 0px;
    }
    .item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        font-size: 12px;
        padding: 2px 10px;
        /* padding: 0; */
        margin: 0 5px;
        border: 2px solid #1D4AD8;
        color: #0938d3;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
    }
    .item a {
        color: #1D4AD8;
        height: 100%;
        padding: 5px 5px;
        font-weight: 700;
        /* border-bottom: 3px solid transparent; */
    }
    .item:hover,
    .item:active,
    .item .active {
        /* background-color: rgb(161, 100, 24);
        border-bottom: 3px solid blueviolet; */
        color: white;
        background-color: #1D4AD8;
        box-shadow: 3px 3px 2px 2px #8396d6;
    }
    .sideDrawerIcon {
        /* height: 15px;
        padding: 0 5px;
        padding-left: 10px; */
        display: none;
    }
}