.navItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

.item {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.item a {
    color: rgb(18, 20, 165);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.item a:hover,
.item a:active,
.item a.active {
    color: rgb(192, 17, 148);
}

@media(min-width:500px) {
    .navItems {
        flex-flow: row;
    }
    .item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .item a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 3px solid transparent;
    }
    .item a:hover,
    .item a:active,
    .item a.active {
        background-color: rgb(161, 100, 24);
        border-bottom: 3px solid blueviolet;
        color: white;
    }
}