.toolbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 210;
    box-shadow: 0px 0px 8px 2px #b6adad;
}

.toolbar-nav {
    height: 100%;
}

@media(max-width:499px) {
    .DesktopOnly {
        display: none;
    }
}

@media(min-width:500px) {
    .ShareImg {
        display: none;
    }
    .toolbar {
        height: 10vh;
    }
}

.logo {
    height: 30px;
}

.ShareImg {
    height: 22px;
}

@media(max-width:360px) {
    .logo {
        height: 25px;
    }
    .toolbar {
        height: 8vh;
    }
}