.useApp {
    margin-top: 50px;
}


/* .useAppVideo {
    margin-top: 50px;
} */

.imgOfApp {
    width: 25%;
    margin: 50px auto;
    display: block;
}

.useAppText {
    padding: 0 40px;
}

.useAppTextSmall {
    color: black;
}

@media(min-width:500px) {
    .useAppVideoBuild {
        padding: 10vh 20vw;
    }
}