.kit_options {
    margin: 0px;
    padding: 0;
    position: fixed;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 8px 2px #b6adad;
    width: 100%;
}

.content {
    background-color: #F0F4FF;
}

.kit_info {
    padding: 90px 50px;
    height: 100%;
}

.kitFeatureButton {
    color: #1D4AD8;
    width: 100%;
    outline: none;
    background-color: white;
    border: none;
    text-align: center;
    padding: 25px 5px;
    font-weight: bold;
}

.kitFeatureButton:active,
.kitFeatureButton:hover,
.active2 {
    color: #1D4AD8;
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    padding: 25px 5px;
    font-weight: bold;
    background-color: #F0F4FF;
    outline: none;
    box-shadow: 2px 2px 3px 2px #b6adad;
    z-index: 40;
}

.orderButton {
    border-radius: 25px;
    padding: 5px 20px;
    border: 1px solid #1D4AD8;
    color: #1D4AD8;
    background-color: white;
}

.special {
    margin-top: 10px;
    color: black;
    text-align: right;
}

.remedy_list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: left;
}

.kitImg {
    height: 120px;
    margin: 15px auto;
    display: block;
}

.kitImg1 {
    height: 80px;
    margin: 20px auto;
    display: block;
}